$border-color: #dfdfdf;
$btn-color: #0500f3;
$btn-color-hover: #0400f3c4;
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    width: 35.1rem;
    height: 5.8rem;
    margin: 5rem 0;
  }
}
.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  &__input {
    display: block;
    margin: 0.5rem 0;
    border-color: $border-color;
    border-radius: 0.5rem;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    height: 4.5rem;
    padding: 0.5rem;
  }

  &-wrapper {
    width: 27.5rem;
  }
  &__name {
    display: flex;
    gap: 0 1rem;
    & * {
      flex: 1;
    }
  }
}
.input-text-field {
  width: 100%;
}
.dob-picker {
  display: flex;
  width: 100%;
}
#dob-picker__month {
  flex: 1;
  margin-right: 0.5rem;
}
#dob-picker__day {
  margin-right: 0.5rem;
}
.signup__form__dob__msg {
  color: #454545;
  font-size: 1.2rem;
}
.signup__form__nextBtn {
  width: 100%;
  padding: 1rem 0;
  background-color: $btn-color;
  color: #fff;
  border: none;
  border-radius: 4rem;
  transition: background-color 0.5s;
  cursor: pointer;
  margin-top: 1rem;
  &:hover {
    background-color: $btn-color-hover;
  }
}
#login-ref {
  font-size: 1.2rem;
  margin: 1rem;
}
// Validation

.field-error {
  color: red;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.input-error {
  border-color: red;
}
