@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
body {
  font-size: 1.6rem;
}
select::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
select::-webkit-scrollbar-thumb {
  background-color: #838383;
  border-radius: 4rem;
}
